header {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
}

.headh2 {
    background-color: rgb(223, 184, 11);
    padding: 10px;
}

nav ul{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto;
}

nav li {
    list-style: none;
    padding: 40px 2px;
    background-color: pink;
    margin: 0;
    padding: auto;
}

.header h2{
    margin-top: 2px;
    margin-bottom: 2px;
}

.header nav ul li{
    margin: 2px;
}

.maincontainer {
    display: grid;
    grid-template-columns: auto auto;
}

.container1 {
    display: grid;
    grid-template-columns: auto auto;  
}

.container h2 {
    background-color:rgb(114, 221, 221);
    margin: 2px;
    padding: 10px;
}

.container1 h2 {
    background-color: aquamarine;
    padding: 0px;
    padding-bottom: 250px;
}

.container2 .main {
    background-color: gray;
    padding: 20px;
    padding-bottom: 100px;

}

.container2 .mainim {
    background-color: rgb(230, 230, 8);
    padding: 40px;
    padding-bottom: 150px;

}

.container3 h2{
    margin: 2px;
}

.container3 .side {
    background-color: orange;
    padding: 20px;
    padding-bottom: 90px;
}

.container3 .ads {
    background-color: green;
    padding: 20px;
    padding-bottom: 90px;
}

.container3 .other {
    background-color: purple;
    padding: 20px;
    padding-bottom: 90px;
}

footer {
    background-color: rgb(170, 113, 113);
    margin: 2px;
    padding: 5px;
}

.cont {
    display: grid;
    grid-template-rows: auto auto;
}
